<div class="content">
    <mat-tab-group color="warn">
        <mat-tab label="Hoje {{ dias[0] }}"> 
            <div class="movies">
                <div class="movie" *ngFor="let session of sessoes">
                    <div class="foto">
                        <img [src]="session.filme.url_foto" alt="">
                    </div>
                    <div class="detalhes">
                        <h1><b>{{session.filme.nome}}</b></h1>
                        <h2><b>Sala: </b> {{ session.sala['nome'] }}</h2>
                        <h2><b>Início: </b>{{ session.inicio | date: 'HH:mm' }}</h2>
                        <h2><b>Valor do Ingresso: </b>R${{ session.valor_sessao }} reais</h2>
                        <a [routerLink]="['checkout/', session.id_sessao]">
                            <button mat-raised-button color='warn' > Comprar
                                <img src="https://cdn-icons-png.flaticon.com/512/6603/6603488.png" alt=""> 
                            </button>
                        </a>
                        
                    </div>
                    
                </div>
                <div class="movie">
                    <div class="foto">
                        <img src="https://m.media-amazon.com/images/M/MV5BZWMyYzFjYTYtNTRjYi00OGExLWE2YzgtOGRmYjAxZTU3NzBiXkEyXkFqcGdeQXVyMzQ0MzA0NTM@._V1_QL75_UX380_CR0,0,380,562_.jpg" alt="">
                    </div>
                    <div class="detalhes">
                        <h1>Sessões</h1>
                        <h2>Sala 1</h2>
                        <h2>Sala 2</h2>
                        <h2>Sala 3</h2>
                    </div>
                    
                </div>
                <div class="movie">
                    <div class="foto">
                        <img src="https://m.media-amazon.com/images/M/MV5BZWMyYzFjYTYtNTRjYi00OGExLWE2YzgtOGRmYjAxZTU3NzBiXkEyXkFqcGdeQXVyMzQ0MzA0NTM@._V1_QL75_UX380_CR0,0,380,562_.jpg" alt="">
                    </div>
                    <div class="detalhes">
                        <h1>Sessões</h1>
                        <h2>Sala 1</h2>
                        <h2>Sala 2</h2>
                        <h2>Sala 3</h2>
                    </div>
                    
                </div>
            </div>
        </mat-tab>
        <mat-tab label="{{ dias[1] }}"> Content 2 </mat-tab>
        <mat-tab label="{{ dias[2] }}"> Content 3 </mat-tab>
        <mat-tab label="{{ dias[3] }}"> Content 4 </mat-tab>
        <mat-tab label="{{ dias[4] }}"> Content 5 </mat-tab>
        <mat-tab label="{{ dias[5] }}"> Content 6 </mat-tab>
    </mat-tab-group>
</div>

