.content{
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}
mat-card{
    width: 90%;
    border-radius: 10px;
    border-bottom: 4px solid #eb6363;
    border-top: 4px solid #eb6363;
}
.botaoadd{
    background-color: #bf0408;
}