<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a routerLink=''>
    <img
    width="40"
    alt="Logo"
    src="https://cdn-icons-png.flaticon.com/512/6603/6603488.png"/>
  </a>
  <a routerLink=''><h3>{{ title }}</h3></a>
  
    <span>
      <a routerLink='usuario/cadastro'>
        <h4>Faça seu cadastro</h4>
      </a>
    </span>
    <span>
      <a routerLink='ingresso/'>
        <h4>Seus ingressos</h4>
      </a>
    </span>
    <div class="spacer"></div>

    <button mat-button [matMenuTriggerFor]="animals">Área administrativa</button>
    <mat-menu #animals="matMenu">
      <a routerLink='filme'>
        <button mat-menu-item>Filmes</button>
      </a>
      <a routerLink='sessao'>
        <button mat-menu-item>Sessões</button>
      </a>
      <a routerLink='sala'>
        <button mat-menu-item>Salas</button>
      </a>
      
    </mat-menu>
</div> 
<router-outlet></router-outlet>
