<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="https://cdn-icons-png.flaticon.com/512/6603/6603488.png"
  />
  <h3>{{ title }}</h3>
    <span>
      <a href="">
        <h4>Compre aqui seus ingressos</h4>
      </a>
    </span>
    <div class="spacer"></div>

    <button mat-button [matMenuTriggerFor]="animals">Área administrativa</button>
    <mat-menu #animals="matMenu">
      <a routerLink='filme'>
        <button mat-menu-item>Filmes</button>
      </a>
      <a routerLink=''>
        <button mat-menu-item>Sessões</button>
      </a>
      <a routerLink='sala'>
        <button mat-menu-item>Salas</button>
      </a>
      
    </mat-menu>
</div> 
<router-outlet></router-outlet>
