.dadosCliente{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dadosCliente input{
    width: 80%;
}
.content{
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}
.group{
    display: flex;
    flex-direction: column;
}
mat-form-field{
    margin: 2px;
}

.enviar{
    width: 20%;
    padding: 3px;
    background-color: #bf0408;
    color: white;
}
.actions button{
    margin: 3px;
}
.actions{
    margin:10px;
}