<div class="content">
    <h2>Faça seu cadastro</h2>
    <mat-stepper color="warn" orientation="vertical" [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel class="title">Digite seus dados pessoais</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Cinefilo da Silva" formControlName="firstCtrl" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput [matDatepicker]="picker" (focus)="picker.open()" formControlName="firstCtrl" readonly required>
          </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>
        <mat-form-field appearance="fill">
          <mat-label>Telefone</mat-label>
          <input matInput type="tel" formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="firstCtrl" required>
        </mat-form-field>
          <div>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Dados de endereço</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Rua</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="Rua da pipoca, 23"
                  required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Cep</mat-label>
            <input matInput type="estado" placeholder="Apenas números" formControlName="secondCtrl" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Estado</mat-label>
            <input matInput type="estado" formControlName="secondCtrl" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Bairro</mat-label>
            <input matInput type="estado" formControlName="secondCtrl" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Ponto de Referência</mat-label>
          <input matInput type="estado" formControlName="secondCtrl" required>
        </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Anterior</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Terminamos, confira se seus dados estão todos corretinhos!</ng-template>
        <div class="actions">
          <button mat-raised-button class="enviar">Cadastrar &nbsp;&nbsp;&nbsp; <mat-icon class="icone">send</mat-icon></button>
          <button mat-button matStepperPrevious>Voltar</button>
        </div>
      </mat-step>
    </mat-stepper>
</div>